@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding-left: 20px;
}

.navbar-logo {
    display: inline;
    max-width: 100px;
    height: auto;
}

.navbar-menu ul {
    list-style: none;
    padding: 0;
    display: flex;

}

.navbar-menu ul li {
    margin-right: 20px;
}

.navbar-menu ul li:last-child {
    margin-right: 0;
}

.navbar-menu ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.2;
    -webkit-transition: color 0.2;
    -moz-transition: color 0.2;
    -ms-transition: color 0.2;
    -o-transition: color 0.2;
}

.navbar-menu ul li a:hover {
    color: #008080ff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.navbar-menu ul li a.active {
    color: #008080ff;
    font-weight: bold;
}

.navbar-auth a {
    text-decoration: none;
    color: #fff;
    margin: 0 40px 0 5px;
}

.navbar-auth a:nth-child(2) {
    background: #008080ff;
    padding: 4px 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    color: #fff;
    font-weight: bold;
}

.navbar-auth a:nth-child(2):hover {
    color: #333;
    transition: 0.3s;
}

.navbar-auth a:hover {
    color: #008080ff;
    transition: 0.3s;
}



.product {
    height: auto;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.container h1 {
    margin-top: 20px;
    color: #008080ff
}

/* Style untuk card produk */
.card {
    width: 300px;
    height: 350px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.card:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
}

/* Style untuk gambar produk */
.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* Style untuk judul produk */
.card h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #008080ff
}

/* Style untuk deskripsi produk */
.card p {
    font-size: 16px;
    color: #fff;
}

/* Style untuk harga produk */
.card .harga {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    /* Warna merah untuk harga */
}

.card a {
    color: #008080ff;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}




footer {
    height: 80px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}



.footer-container .footer-p  {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    margin-top: 5px;
}


